.container{
    width: 1250px;
    margin: 0 auto;
}
@media (min-width: 769px) and (max-width: 1250px) {
    .container{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }
}